body {
	background:url(../images/bg.jpeg) no-repeat;
	background-size: cover;
}

h2 {
  font-size: 5em;
  color: white;
  text-align: center;
  text-shadow:1px 1px 3px #000;
}

.gallery {
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

li {
  float: left;
  width: 25%;
  text-align: center;
  list-style: none;
}

span {
  display: inline-block;
  padding: 2%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 12px 12px 20px #000;
}

img {
  width: 100%;
}
